# Keys and passwords
security/

# Pycharm project settings
.idea/

# github
.github/

# trash
.trash/

# other
/venv/
/danelia/database.db-journal
/danelia/lang.py
/danelia/lang.csv
/Anekdot/venv/
testing/
/danelia/danelia.ui
/Danelia/call_listen.py
